<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Meme Me 1.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>91205AE21CF8A1BE00129BB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91205AF61CF8A1BF00129BB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91205B011CF8A1BF00129BB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
